.organization-img{
    background-image: url('https://assets-global.website-files.com/5e4482baa13a1926b23e2187/62eab8400b34fe1f0ad28593_Partner%20page_soc2%20badge_v2%20(1)%20(1).png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 60%;
    margin-bottom: 109px;
    padding-top: 120px;
    padding-bottom: 120px;
    font-family: Figtree,sans-serif;
}