.heroImg{
    background-image: url('https://assets-global.website-files.com/5e4482baa13a1926b23e2187/6227e532329aa42351839eb0_Home%20-%20hero%20qr%20code.png');
    
      
        background-color: #cccccc; 
        background-position: center;
        height: 80vh;
        background-repeat: no-repeat; 
        background-size: cover; 
        width: 100vw;
      
    }